<html>
<head>
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"">
</head>
<body>
    <a href="/recettes">Recettes</a>
    {{#recettes}}
        <table border="1">
        <tbody>
        <tr>
            <td><a href="/recettes/{{id}}">Recette {{nomRecette}} </a></td>
        </tr>
        </tbody>
        </table>
    {{/recettes}}
    </br>
    <a href="ingredients">Ingredients</a>


</body>
</html>